<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            Файлообменник:
            <a href="{{ url_for('index') }}">Главная</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Войти</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Выйти</a>
                <a href="{{ url_for('profile') }}">Профиль</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
